*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#19181A;
    height: 8vh;
}
.category{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
.category li{
    list-style: none;
    padding-top: 12px;
}
.item-link{
    text-decoration: none;
    color: azure;
    font-size: 14px;
}
.item-link:hover{
    color: orangered;
}
.logo{
    display: flex;
    font-size: 20px;
    color: azure;
}
.logo-icon{
    color: orangered;
}
.cart-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}
.cart-container li{
    list-style: none;
    padding-top: 12px;
}
.burger{
    color: azure;
    font-size: 35px;
    padding-bottom: 10px;
    display: none;
}
.close-icon{
    display: none;
}

section{
    height: 100vh;
    width: 100%;
}
.card{
    width: 250px;
    height: 380px;
    background: transparent !important;
    border-radius: 10px !important;
}
.card-img{
  height: 250px;
  border-radius: 10px !important;
}
/*FOOTER*/
.social-media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*MEN PAGE*/
.men-page{
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    height: 100%;
    width: 100%;
}
.men-hero-container{
    background-image: url(./images/men1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;/*check if there will have overflow*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*WOMEN PAGE*/
.women-page{
    background-image: radial-gradient( circle farthest-corner at 0.1% 53.8%,  rgba(255,182,172,1) 0%, rgba(255,123,172,1) 100.2% );
    height: 100%;
    width: 100%;
    }
.women-hero-container{
    background-image: url(./images/women1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*JEWELRY PAGE*/
.jewelry-page{
    background-image: linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
    height: 100%;
    width: 100%;
}
.jewelry-hero-container{
    background-image: url(./images/jewelry1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*ELECTRONICS PAGE*/
.electronics-page{
    background-image: linear-gradient( 109.6deg,  rgba(44,83,131,1) 18.9%, rgba(95,175,201,1) 91.1% );
    height: 100%;
    width: 100%;
}
.electronics-hero-container{
    background-image: url(./images/electronics1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*HOME ----MEN SECTION*/
.men-section .section-top{
    height: 50%;
    background-color: #1B9CE5;
    display: flex;
   justify-content: center;
}
.men-section .section-bottom{
    height: 50%;
    background-color: #6CDAEE;

}
.column1{
    height: 400px;
    background-image: url(./images/men1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.column2{
    height: 400px;
}
.column2-content{
    padding: 40px;
    justify-content: center;
    align-items: center;
}
.column2-title{
    font-size: 50px;
}
/*HOME ----WOMEN SECTION*/
.women-section .section-top{
    height: 50%;
    background-color:#DA7B93 ;
}
.women-section .section-bottom{
    height: 50%;
    background-color: #EDB5BF;
}
.women-section .column1{
    height: 400px;
    background-image: url(./images/women1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
/*HOME ----JEWELRY SECTION*/
.jewelry-section .section-top{
    height: 50%;
    background-color: #57BA98;
}
.jewelry-section .section-bottom{
    height: 50%;
    background-color: #65CCB8;
}
.jewelry-section .column1{
    height: 400px;
    background-image: url(./images/jewelry1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
/*HOME ----ELECTRONICS SECTION*/
.electronics-section .section-top{
    height: 50%;
    background-color:#1E4258 ;
}
.electronics-section .section-bottom{
    height: 50%;
    background-color: #265077;
}
.electronics-section .column1{
    height: 400px;
    background-image: url(./images/electronics1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}


/*MOBILE*/
@media (max-width:768px){
    
    .burger{
        display: block;
        padding-bottom: 10px;
    }
    .close-icon{
        color: azure;
        font-size: 30px;
        padding-left: 45px;
        display: block;
    }
    .search-bar{
        display: none;
    }
    .category{
        position: absolute;
        display: flex;
        flex-direction: row;
        left: 0;
        top: 8vh;
        width: 100%;
        height: 8vh;
        background-color:#19181A;
        justify-content: space-around;
        align-items: center;
        transform: translateY(0%);
        transition: transform 0.5s ease-out;
    }
    .category.active{
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }
    
    .cart-container li{
        list-style: none;
        padding-top: 12px;
        padding-right: 10px;
    }
    .card{
    width: 160px;
    height: 280px;
    background: transparent !important;
    border-radius: 10px !important;
    margin: 10px;
}
.card-img{
  height: 180px;
  border-radius: 10px;
}
.card-item{
    font-size: 10px;
}
.btn{
    font-size: 8px !important;
}

section{
    height: 100%;
    width: 100%;
}
.men-hero-container,
.women-hero-container,
.jewelry-hero-container,
.electronics-hero-container
{
    height: 20vh;
}
}

  @media (max-width:480px) {
     .heading-content{
         height: 50%;
     }
.card{
    width: 130px;
    height: 240px;
    background: transparent !important;
    border-radius: 10px !important;
    margin: 10px;
}
.card-img{
  height: 150px;
  border-radius: 10px;
}
.card-item{
    font-size: 10px;
}
.btn{
    font-size: 8px !important;
}
.column1{
    height: 200px;
    background-image: url(./images/men1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.column2{
    height: 180px;
}
.column2-content{
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.column2-title{
    font-size: 20px !important;
}
.column2-item{
    font-size: 10px !important;
}
/*Footer*/
.column-title .title{
    font-size: 14px;
}
.column-item{
    font-size: 10px;
}
  }

